body {
    margin:0;
    padding:0;
}

.badge {
    background-color: #dadfea;
    width: 200px;
    border: 1px solid #2a2a2a;
    padding: 15px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
}

.navbar {
    padding:20px;
    border-bottom:2px solid lightgray;
    display:flex;
    flex-direction: row;
    width:100%;
}

.fa-regular {
    font-size:20px;
    color:gray;

}

.navitem {
    list-style: none;
}

.navlogo {
    width:30px;
    height:30px;
}