body {
    margin:0;
    padding:0;
}

.badge {
    background-color: #dadfea;
    width: 200px;
    border: 1px solid #2a2a2a;
    padding: 15px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
}

.navbar {
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
    height:60px;
    align-items: center;
    border-bottom:1px lightgray;
}

.fa-regular {
    font-size:20px;
    color:gray;

}

.navitem {
    list-style: none;
}

.navlogo {
    width:30px;
    height:30px;
}

.main {
    display:flex;
}

.left {
    background-color: burlywood;
    flex-grow:1;
}

.right {
    background-color: darkslateblue;
    flex-grow:3;
}

.farright {
    background-color: indigo;
    flex-grow:1;
}